.mdl-layout__content {
    background: url("../_images/background.png") repeat fixed;
}

.demo-content, .mdl-card__actions, .mdl-card__media {
    background: white;
}

.mdl-card__actions .mdl-button {
    text-transform: capitalize;
}

.mdl-card__supporting-text {
    color: rgb(20, 20, 20);
    font-size: 16px;
    line-height: normal;
}

.material-icons {
    color: grey;
}

/* Main Title */

.main_title {
    height: 30vh;
    color: white;
    text-shadow: 2px 2px 2px black;
    background: url('../_images/title.png') center / cover ;
}

/* Header Titles */
.header_title {
    color: white;
}

/* Colored Backgrounds */

.red_background {
    background-color: #F44336;
}

.green_background {
    background-color: #64DD17;
}

.yellow_background {
    background-color: #FFD600;
}

.blue_background {
    background-color: #2196F3;
}

/* Projects */

#project_ghost_girl_kitten_title {
    background: url('../_images/projects/ghostgirlkitten.png') center / cover ;
}

#project_peng_sim_title {
    background: url('../_images/projects/peng_simulator.png') center / cover ;
}

#project_your_title {
    background: url(https://placeholdit.imgix.net/~text?txtsize=16&txt=350%C3%9765&w=350&h=65) center / cover ;

}

#project_super_run_title {
    background: url('../_images/projects/super_run.png') center / cover ;
}

#project_train_game_title {
    background: url('../_images/projects/train_game.png') center / cover ;
}

#project_window_cleaner_title {
    background: url('../_images/projects/window_cleaner.png') center / cover ;
}

.project_title {
    height: 200px;
    text-shadow: 2px 2px 2px black;
    color: white;
}